.todos {
  width: 30%;
  margin-top: 30px;
  margin-left: 30px;
}

#todos-list {
  display: flex;
  flex-direction: column;
}

.todos-item-block {
  display: inline-flex;
  margin: 6px;
}

.fa-times,
.todos-item {
  margin-right: 15px;
}
